*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

.container-data{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    width: 400px;
}

form input{
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form input:focus{
    border-color: rgb(37, 124, 255);
    outline: rgba(21, 255, 0, 0.411);
}

input::placeholder{
    font-family: roboto;
    display: flex;
    text-align: center;
}

