@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #bc4e9c;
    background: -webkit-linear-gradient(to left, #f80759, #bc4e9c);  
    background: linear-gradient(to left, #f80759, #bc4e9c);

}



header {
    width: 100%;
    background: #bc4e9c;
    background: -webkit-linear-gradient(to bottom, #f80759, #bc4e9c);
    background: linear-gradient(to bottom, #f80759, #bc4e9c);

}

ul li {
    display: inline-block;
    padding: 10px;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 1.3rem;
}

ul {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.link-home {
    display: flex;
    text-decoration: none;
    color: white;
    transition: all 0.5s;
}

.link-home:hover {
    color: orange;
}
.link-home {
    display: flex;
    text-decoration: none;
    color: white;
    transition: all 0.5s;
}

.link-zapatillas:hover {
    color: orange;
}
.link-zapatillas {
    display: flex;
    text-decoration: none;
    color: white;
    transition: all 0.5s;
}

.link-ropa:hover {
    color: orange;
}
.link-ropa {
    display: flex;
    text-decoration: none;
    color: white;
    transition: all 0.5s;
}

.link-home:hover {
    color: orange;
}

.link-cart{
    color: #fff;
    transition: all 1s;
}

.link-cart:hover{
    color: orange;
}

.carrito {
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    transition: all 1s;
}

.carrito:hover {
    border-bottom: 2px orange solid;
}

.cart-n-qnty {
    background-color: rgb(245, 56, 103);
    padding: 4px 10px 4px 10px;
    border-radius: 30px;
    width: 57px;
    display: flex;
    justify-content: space-around;
}

.qntyidad-prod{
    border-radius: 30px;
    color: #fff;
    position: relative;
    bottom: -1px;
    right: 5px;
    background-color: red;
    width: 20px;
    height: 20px;
    padding: 4px;
    display: flex;
    align-items: center;
    
}

.bienvenida {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.boton {
    display: flex;
    justify-content: center;
    padding: 30px;
    align-items: center;
}

.boton h3{
    padding: 10px ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.buttonI {
    padding: 5px;
    padding-right: 12px;
    padding-left: 12px;
    background-color: rgb(92, 233, 92);
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 10px;
    box-shadow: 0px 2px 10px 2px rgb(77, 238, 77);
}
.buttonI:hover{
    background-color: rgb(55, 197, 55);
    box-shadow: 0px 2px 10px 2px rgb(34, 187, 34);
}

.buttonD {
    padding: 5px;
    padding-right: 12px;
    padding-left: 12px;
    background-color: rgb(255, 32, 32);
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 10px;
    box-shadow: 0px 2px 10px 2px red;
}
.buttonD:hover{
    background-color: rgb(218, 27, 27);
    box-shadow: 0px 2px 10px 2px rgb(240, 23, 23);
    
}

.btnAddProducts {
    padding: 6px;
    background: #0575E6;
    background: -webkit-linear-gradient(to left, #021B79, #0575E6);
    background: linear-gradient(to left, #021B79, #0575E6);
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    border-radius: 10px;
    transition: background 1s;
}
.btnAddProducts:hover{
    background: -webkit-linear-gradient(to left, #284bc9, #287bcf);
    background: linear-gradient(to left, #1b3cb6, #3b94ec);
}

.stock p{
    display: flex;
    justify-content: center;
}

.card-container{
    background: -webkit-linear-gradient(to bottom, #f80759, #bc4e9c);
    background: linear-gradient(to bottom, #f80759, #bc4e9c);
    padding: 20px;
    margin: 10px;
    width: 370px;
    box-shadow: 5px  11px 5px rgb(58, 56, 56) ;
}
.prod-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prod-name{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 2rem;
    padding: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.stock-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: 1.5rem;
}
.stock-container p{
    color: #fff;
    margin-right: 2px;

}
.stock-container span{
    color: orange;
    font-size: 1.9rem;
    border: 3px solid orange;
    padding: 10px 30px;
    border-radius: 40px;
}

.prod-price {
    font-family:sans-serif;
    color: #48d61d;
    font-size: 1.5rem;
    letter-spacing: 8px;
    margin: 5px auto ;
    border: solid 4px rgb(221, 224, 28);
    border-radius: 30px;
    padding: 20px;
}
.prod-image {
    width: 350px;
    padding: 10px;
    border-radius: 20px;
}


/* Loader */

.ring {
    --uib-size: 40px;
    --uib-speed: 2s;
    --uib-color: black;
    
    height: var(--uib-size);
    width: var(--uib-size);
    vertical-align: middle;
    transform-origin: center;
    animation: rotate var(--uib-speed) linear infinite;
  }
  
  .ring circle {
    fill: none;
    stroke: var(--uib-color);
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: stretch calc(var(--uib-speed) * 0.75) ease-in-out infinite;
  }
  .loader2{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes stretch {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dashoffset: -124px;
    }
  }

  /* DetailContainer */

.itemDetail-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}
.detailName{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.detailPrice{
    color: rgb(40, 202, 40);
    box-shadow: 2px 2px 10px green;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}
.card-bs{
    display: flex;
    justify-content: center;
}

/* ItemList */

.itemList{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}


/* DetailInfo */

.itemDetailContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    width: 100%;
}

.detailImage img{
    width: 500px;
    border-radius: 10px;
    
}

.detailInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #212529;
    border-radius: 20px;
    box-shadow: 1px 3px 12px 4px red;
}
.detailInfo h2{
    color: #fff;
    font-size: 2rem;
    font-family:sans-serif;
    letter-spacing: 2px;
    padding: 20px; 
}
.detailInfo p{
    font-size: 2rem;
    color: rgb(80, 212, 80);
}

